  .navbar {
      margin-bottom: 0;
      border-radius: 0;

    }
    
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  #mimodal{
    background-color: black;
  }

 #imgmodal{
  margin:43px;
 }
 #loguear{
   margin-left:10%;
   margin-right: 10%

 }
 input{
   margin-bottom: 10%;
   margin-top: 10%;
 }
 .reg{
  margin: 0px
 }
.btreg{
  height: 70px;
  width: 100%;
  border-radius: 5px;
  
}
.iconmenu {
  text-decoration: none !important;
  color: white;
  margin-left: 80% !important;
 
  
}
#menu{
  font-size: 45px;
  margin-top: 5px
}